# Dependencies
node_modules
examples/**/*/yarn.lock
jspm_packages
package-lock.json

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Dist folder
dist

# Dist example generation
examples/**/dist

# Coverage support
coverage
*.lcov
.nyc_output
.vscode

# Intellij idea
*.iml
.idea

# OSX
*.DS_Store
.AppleDouble
.LSOverride
